/*
    BLITZ DEVELOPER COMMUNITY
    STYLE SHEET
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Georgia,serif;
    color:#4E443C;
    font-variant: small-caps; 
}
h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 75;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 50;
}

p {
    font-size: 14px;
    margin-top: .5em;
    color: #666;
}

/* Wikify external links */
a[href^="http://"]:after, 
a[href^="https://"]:after {
    content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
    margin: 0;
}

/* Do not Wikify our own links */
a[href*="http://blitzdev.org"]:after,
a[href*="https://blitzdev.org"]:after {
    content: '';
    margin: 0;
}

#blitzdev h1 {
}

#blitzdev h2 {
}

#blitzdev ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

#blitzdev li {
    float: left;
}

#blitzdev li a {
  display: block;
  color: #222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#blitzdev li a:hover {
  background-color: #aaa;
}

#blitzdev .active {
  background-color: #04AA6D;
}

#blitzdev .right {
  float: right;
}

#blitzdev .content {
    margin: 4px;
}

