# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*
!--*
!##*

# Exclude folders
.bmx/
.vscode/
*.private/

# Private Sandboxes
languageserver/
loadfile/
maxx/
Threading/
transpiler/java-to-ast/javaparser-master/
transpiler/java-to-ast/*.class
transpiler-bmx/
#transpiler/old
Pratt-Parser/bantam-master/
Pratt-Parser/bin-java/
net.mod-raknet.mod/

# Exclude files
*.bak
*.debug
*.old
*.exe
*.a
*.i
*.i2
*.zip



