# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*

# Exclude folders
.bmx/
.vscode/

# Private Sandboxes
languageserver/
loadfile/
maxx/
Threading/
transpiler/
#transpiler/old
bmx.datetime/

# Exclude files
*.bak
*.debug
*.old
*.exe
*.a
*.i
*.i2
*.zip



