# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*

# Exclude folders
.bmx/
.vscode/
languageserver/
transpiler/old

# Exclude files
*.bak
*.debug
*.old
*.exe
*.a
*.i
*.i2


