# Ignore everything and then include folders and files with extensions
*
!/**/
!*.*
!--*
!##*

# Exclude folders
.bmx/
.vscode/

examples.p5/
resources/
src/
web/

# Private stuff
*.private/
*.zip
JAVA2BMX.bmx

